/* stylesheet */

/* header-section */

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.header-logo {
  width: 150px;
  height: 40px;
}

.hamburger-icon {
   width: 40px;
  height: 25px;
}

/* hero-section */

.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 0;
}

/* hightlight-content */

.highlight-section {
  background-color: #272a31;
}

.hightlight-content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.highlight-item {
  display: flex;
  /* padding: 10px; */
}

.highlight-item-icon {
  height: 80px;
}

